.hirexp-roi-nav {
    .navbar {
        // top: 0;
        // position: fixed;
        // width: 100%;
        // z-index: 9999;
        background: linear-gradient(90deg, #61245e, #42276f 90%);
        .navbar-collapse {
            justify-content: flex-end;
        }
        .navbar-nav a {
            color: #ffffff !important;
            font-size: 1.3rem;
            font-weight: 600;
            a:hover {
                color: #342b7e;
                text-shadow: 1px 1px 1px 1px #fff;
                backface-visibility: hidden;
                cursor: pointer;
                transition: 0.5s ease;
            }
        }
    }
}

.roi-header-wrap {
    margin: 4rem 0;
    .roi-header-left {
        text-align: left;
        font-size: 3rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 600;
        margin-top: 8rem;
    }
}

.hirexp-recruitment-software {
    .hirexp-recruitment-software-heading {
        font-size: 3rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .product-heading {
        font-size: 2rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 500;
    }
    .product-details {
        margin-top: 2rem;
    }
}

.hirexp-amara-software {
    margin: 4rem 0;
    .hirexp-amara-software-heading {
        font-size: 3rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 600;
    }
    .hirexp-amara-software-heading-sub {
        font-size: 2rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .product-heading {
        font-size: 2rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 500;
    }
    .product-details {
        margin-top: 2rem;
    }
}

.hirexp-another-software {
    margin: 4rem 0;
    .hirexp-recruitment-software-heading {
        font-size: 3rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    .product-heading {
        font-size: 2rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 500;
    }
    .product-details {
        margin-top: 2rem;
    }
}

.hirexp-global-brands {
    background-color: #f4f6f8;
    // margin: 4rem 0;
    padding-bottom: 4rem;
    .hirexp-global-brands-headings {
        font-size: 3rem;
        line-height: 1.2;
        color: #342b7e;
        font-weight: 600;
        margin: 2rem 0;
    }
}

.cta {
    // background-image: linear-gradient(0deg, #fff, #f2faff);
    min-height: 60vh;
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 4rem 0;
    .get-started {
        position: relative;
        z-index: 2;
        padding: 4rem 4rem;
        display: flex;
        flex-flow: column;
        flex: 0 0 auto;
        background: #fff;
        border-radius: 2rem;
        box-shadow: 0 3rem 3rem 0 rgba(138, 162, 173, 0.3);
        text-align: center;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: #131c24;
        &:before {
            content: "";
            height: 1.5rem;
            background: linear-gradient(90deg, #61245e, #42276f 90%);
            // background: linear-gradient(270deg, #31bd95, #7dd47a 22%, #7cccfa 42%, #26a0e6 57%, #ca8bdb 78%, #7148bd);
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
        .bold {
            font-weight: 600;
            font-size: 3.8rem;
            line-height: 1.2;
        }
        h3 {
            margin-top: 1rem;
            font-size: 2rem;
            font-weight: 500;
        }
        .get-started__actions {
            background: linear-gradient(90deg, #61245e, #42276f 90%);
            padding: 0.5rem 1.5rem;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 500;
            border-radius: 50px;
            margin-top: 1.5rem;
            a {
                color: #ffffff;
            }
        }
    }
}