* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: proxima-nova, helvetica, arial, sans-serif;
    scroll-margin: 4rem;
}

// hirexp nav start
.hirexp-nav {
    background: linear-gradient(90deg, #42276f, #911f42);
    .navbar-collapse {
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: #ffffff;
                    &:hover {
                        border-bottom: 3px solid #ffffff;
                        transition: 0.5s ease;
                        margin-bottom: -4px;
                    }
                }
            }
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// hirexp nav end
// header section start
.hirexp-intro {
    margin-top: 65px;
    .intro-container {
        // box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        min-height: 100%;
        .leftandin {
            width: 100%;
            z-index: 3;
            .outer-left {
                background: #ffffff;
                display: inline-block;
                min-height: calc(100vh - 115px);
                height: 100%;
                width: 100%;
                text-align: left;
                .delay-06s {
                    animation-delay: 0.6s;
                    -webkit-animation-delay: 0.6s;
                }
                .title {
                    font-size: 3em;
                    color: #122e8a;
                    font-weight: 600;
                    width: 40%;
                    letter-spacing: 1.5px;
                    position: absolute;
                    margin-top: 3em;
                    z-index: 1;
                }
                .description {
                    font-size: 1.8em;
                    color: #122e8a;
                    position: absolute;
                    margin-top: 17rem;
                    z-index: 1;
                    width: 30%
                }
                .cta {
                    background: -moz-linear-gradient(90deg, #42276f, #911f42);
                    background: -webkit-linear-gradient(90deg, #42276f, #911f42);
                    background: linear-gradient(90deg, #42276f, #911f42);
                    border: none;
                    border-radius: 12px;
                    box-shadow: -1px 2px 7px rgba(213, 78, 24, .4), 1px -1px 7px rgba(7, 6, 25, .4);
                    color: #e8dff6;
                    font-size: 1.3em;
                    letter-spacing: 1px;
                    margin-top: 22rem;
                    padding: 0.5em 1em;
                    position: absolute;
                    text-shadow: 0px 0px 3px rgba(200, 200, 200, .4);
                    transition: background-size .9s ease-in;
                    z-index: 1;
                    p {
                        padding: 0;
                        margin: 0;
                    }
                    &:hover {
                        backface-visibility: hidden;
                        background-size: 150%;
                        box-shadow: 1px 2px 7px rgba(213, 78, 24, .3), 1px 1px 10px rgba(7, 6, 25, .3);
                        cursor: pointer;
                        text-shadow: 0px 0px 4px rgba(0, 0, 0, .4);
                        transition: background-size .9s ease-in;
                        transform: scale(0.98) !important;
                    }
                }
            }
            .inner {
                border-top-left-radius: 50vh;
                box-shadow: inset 0 14px 5px rgba(0, 0, 0, 0.2), inset 0 14px 10px rgba(0, 0, 0, 0.5);
                display: inline-block;
                min-height: calc(100vh - 115px);
                vertical-align: top;
                position: absolute;
                right: 0;
                width: 60%;
            }
            #inner1 {
                background: url('~@/assets/images/thumbNew.jpg');
                background-size: cover;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .hirexp-intro {
        .intro-container {
            .leftandin {
                .outer-left {
                    .title {
                        font-size: 1.2rem;
                        width: 50%;
                        margin-top: 4rem;
                        margin-left: 1.2rem;
                    }
                    .description {
                        font-size: 0.9rem;
                        margin-top: 9.5rem;
                        width: 50%;
                        margin-left: 1.3rem;
                    }
                    .cta {
                        font-size: 0.8em;
                        margin-top: 12rem;
                        margin-left: 1.2 rem;
                    }
                }
                .inner,
                .outer-left {
                    height: 300px;
                    min-height: 300px;
                }
                .inner {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hirexp-intro {
        .intro-container {
            .leftandin {
                .outer-left {
                    .title {
                        font-size: 1.8rem;
                        width: 50%;
                        margin-top: 4rem;
                        margin-left: 0;
                    }
                    .description {
                        font-size: 1.3rem;
                        margin-top: 9.5rem;
                        width: 50%;
                        margin-left: 0;
                    }
                    .cta {
                        font-size: 0.8em;
                        margin-top: 12rem;
                        margin-left: 1.2rem;
                    }
                }
                .inner,
                .outer-left {
                    height: 300px;
                    min-height: 300px;
                }
                .inner {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .hirexp-intro {
        .intro-container {
            .leftandin {
                .outer-left {
                    .title {
                        font-size: 1.8rem;
                        width: 50%;
                        margin-top: 4rem;
                        margin-left: 0;
                    }
                    .description {
                        font-size: 1.3rem;
                        margin-top: 9.5rem;
                        width: 50%;
                        margin-left: 0;
                    }
                    .cta {
                        font-size: 1em;
                        margin-top: 12rem;
                        margin-left: 0;
                    }
                }
                .inner,
                .outer-left {
                    height: 300px;
                    min-height: 300px;
                }
                .inner {
                    width: 50%;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .hirexp-intro {
        .intro-container {
            .leftandin {
                .outer-left {
                    .title {
                        font-size: 1.8rem;
                        width: 50%;
                        margin-top: 4rem;
                        margin-left: 0;
                    }
                    .description {
                        font-size: 1.3rem;
                        margin-top: 9.5rem;
                        width: 50%;
                        margin-left: 0;
                    }
                    .cta {
                        font-size: 1em;
                        margin-top: 12rem;
                        margin-left: 0;
                    }
                }
                .inner,
                .outer-left {
                    height: 300px;
                    min-height: 300px;
                }
            }
        }
    }
}

// header section end
// hirexp stats start
.hirexp-stats {
    background: linear-gradient(0deg, #fff, #f2faff);
    box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
    padding: 2rem 0;
    .stats {
        padding: 0;
        margin: 0;
        .hirexp-stats-num {
            font-size: 3rem;
            color: #122e8a;
            font-weight: 600;
            line-height: 2rem;
        }
        .hirexp-stats-sub {
            font-size: 1.5rem;
            color: #122e8a;
        }
    }
}

@media (max-width: 575.98px) {
    .hirexp-stats {
        .stats {
            .hirexp-stats-num {
                font-size: 1.5rem;
            }
            .hirexp-stats-sub {
                font-size: 1rem;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hirexp-stats {
        .stats {
            .hirexp-stats-num {
                font-size: 2rem;
            }
            .hirexp-stats-sub {
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .hirexp-stats {
        .stats {
            .hirexp-stats-num {
                font-size: 2rem;
            }
            .hirexp-stats-sub {
                font-size: 1.5rem;
            }
        }
    }
}

// hirexp stats end
// hirexp about us start
.hirexp-about-wrap {
    padding: 2rem 0;
    .hirexp-about-content-wrap {
        .hirexp-about-heading {
            margin: 2rem 0;
            font-size: 42px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #122e8a;
        }
        .hirexp-about-head-sub {
            margin: 1rem 0;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0.2px;
            font-style: normal;
            font-stretch: normal;
            color: #4a4a4a;
        }
    }
}

// hirexp about us end
//hirexp-join start
.hirexp-join-wrap {
    padding: 3rem 0;
    .hirexp-join-content-wrap {
        .hirexp-join-icon {
            img {
                width: 15%;
                max-width: 15%;
            }
        }
        .hirexp-join-heading {
            margin: -1.5rem 0 2rem 0;
            font-size: 42px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #122e8a;
        }
        .hirexp-join-heading-sub {
            margin: 1rem 0 2rem 0;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 0.2px;
            font-style: normal;
            font-stretch: normal;
            color: #4a4a4a;
        }
    }
    .content {
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 1000px;
        .card {
            color: inherit;
            cursor: pointer;
            width: 100%;
            height: 260px;
            min-height: 260px;
            perspective: 1000px;
            margin: 1rem;
            position: relative;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            &:hover .front {
                transform: rotateY(180deg);
            }
            &:hover .back {
                transform: rotateY(0deg);
            }
            &:nth-child(even) .back .button {
                background: linear-gradient(135deg, #e61a80, #e61a3c);
            }
            &:nth-child(even) .back .button:before {
                box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
                background-color: rgba(230, 26, 60, 0.25);
            }
            .front,
            .back {
                display: flex;
                border-radius: 6px;
                background-position: center;
                background-size: cover;
                text-align: center;
                justify-content: center;
                align-items: center;
                position: absolute;
                height: 100%;
                width: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                transition: ease-in-out 600ms;
            }
            .front {
                background-size: cover;
                padding: 2rem;
                font-size: 1.618rem;
                font-weight: 600;
                color: #fff;
                overflow: hidden;
                &:before {
                    position: absolute;
                    display: block;
                    content: "";
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    // background: linear-gradient(135deg, #96D1F3, #96B2F3);
                    opacity: 0.25;
                    z-index: -1;
                }
                &.card-one-img {
                    background-image: url("~@/assets/images/join/hirexp-join-1.jpg");
                }
                &.card-two-img {
                    background-image: url("~@/assets/images/join/hirexp-join-2.jpeg");
                }
                &.card-three-img {
                    background-image: url("~@/assets/images/join/hirexp-join-3.jpeg");
                }
                &.card-four-img {
                    background-image: url("~@/assets/images/join/hirexp-join-4.jpg");
                }
            }
            .back {
                background: #ffffff;
                background: linear-gradient(90deg, #61245e, #42276f 90%);
                color: #fff;
                transform: rotateY(-180deg);
                padding: 0 2em;
                .button {
                    transform: translateZ(40px);
                    cursor: pointer;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    font-weight: bold;
                    color: #fff;
                    padding: 0.5em 1em;
                    border-radius: 100px;
                    border: none;
                    position: relative;
                    transform-style: preserve-3d;
                    transition: 300ms ease;
                    background: linear-gradient(135deg, #1a9be6, #1a57e6);
                    &:before {
                        transition: 300ms ease;
                        position: absolute;
                        display: block;
                        content: "";
                        transform: translateZ(-40px);
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        height: calc(100% - 20px);
                        width: calc(100% - 20px);
                        border-radius: 100px;
                        left: 10px;
                        top: 16px;
                        box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
                        background-color: rgba(26, 87, 230, 0.25);
                    }
                    &:hover {
                        transform: translateZ(55px);
                    }
                    &:hover:before {
                        transform: translateZ(-55px);
                    }
                    &:active {
                        transform: translateZ(20px);
                    }
                    &:active:before {
                        transform: translateZ(-20px);
                        top: 12px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .hirexp-join-wrap {
        .hirexp-join-content-wrap {
            .hirexp-join-icon {
                img {
                    width: 33%;
                    max-width: 33%;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .hirexp-join-wrap {
        .hirexp-join-content-wrap {
            .hirexp-join-icon {
                img {
                    width: 30%;
                    max-width: 30%;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .hirexp-join-wrap {
        .hirexp-join-content-wrap {
            .hirexp-join-icon {
                img {
                    width: 27%;
                    max-width: 27%;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .content {
        .card {
            .back {
                .content {
                    font-size: 14px;
                }
            }
        }
    }
}

//hirexp-join end
// hirexp core values start
.hirexp-core-values {
    padding: 3rem 0;
    .hirexp-core-values-container {
        .hirexp-core-values-content-wrap {
            .core-values-icon {
                img {
                    width: 6rem;
                    height: 6rem;
                }
            }
            .core-values-heading {
                font-size: 42px;
                font-weight: 700;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #122e8a;
            }
            .core-value-sub {
                margin: 1rem 0 2rem 0;
                font-size: 18px;
                font-weight: 300;
                letter-spacing: 0.2px;
                font-style: normal;
                font-stretch: normal;
                color: #4a4a4a;
            }
        }
        .content {
            display: flex;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1000px;
            .card {
                color: inherit;
                cursor: pointer;
                width: 100%;
                height: 285px;
                min-height: 285px;
                perspective: 1000px;
                margin: 1rem;
                position: relative;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                &:hover .front {
                    transform: rotateY(180deg);
                }
                &:hover .back {
                    transform: rotateY(0deg);
                }
                &:nth-child(even) .back .button {
                    background: linear-gradient(135deg, #e61a80, #e61a3c);
                }
                &:nth-child(even) .back .button:before {
                    box-shadow: 0 0 10px 10px rgba(230, 26, 60, 0.25);
                    background-color: rgba(230, 26, 60, 0.25);
                }
                .front,
                .back {
                    display: flex;
                    border-radius: 6px;
                    background-position: center;
                    background-size: cover;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    transition: ease-in-out 600ms;
                }
                .front {
                    background-size: cover;
                    padding: 2rem;
                    font-size: 1.618rem;
                    font-weight: 600;
                    color: #fff;
                    overflow: hidden;
                    &:before {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: linear-gradient(135deg, #1a9be6, #1a57e6);
                        opacity: 0.25;
                        z-index: -1;
                    }
                }
                .back {
                    background: #ffffff;
                    color: #333;
                    transform: rotateY(-180deg);
                    padding: 0 2em;
                    .button {
                        transform: translateZ(40px);
                        cursor: pointer;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        font-weight: bold;
                        color: #fff;
                        padding: 0.5em 1em;
                        border-radius: 100px;
                        border: none;
                        position: relative;
                        transform-style: preserve-3d;
                        transition: 300ms ease;
                        background: linear-gradient(135deg, #1a9be6, #1a57e6);
                        &:before {
                            transition: 300ms ease;
                            position: absolute;
                            display: block;
                            content: "";
                            transform: translateZ(-40px);
                            -webkit-backface-visibility: hidden;
                            backface-visibility: hidden;
                            height: calc(100% - 20px);
                            width: calc(100% - 20px);
                            border-radius: 100px;
                            left: 10px;
                            top: 16px;
                            box-shadow: 0 0 10px 10px rgba(26, 87, 230, 0.25);
                            background-color: rgba(26, 87, 230, 0.25);
                        }
                        &:hover {
                            transform: translateZ(55px);
                        }
                        &:hover:before {
                            transform: translateZ(-55px);
                        }
                        &:active {
                            transform: translateZ(20px);
                        }
                        &:active:before {
                            transform: translateZ(-20px);
                            top: 12px;
                        }
                    }
                }
            }
        }
    }
}

// hirexp core values end
// hirexp tech stack icons start
.tech-stack-wrap {
    padding: 2rem 0;
    .stack-content-wrap {
        .stack-icon {
            img {
                width: 6rem;
                height: 6rem;
            }
        }
        .tech-stach-heading {
            font-size: 42px;
            padding: 1rem 0;
            margin: 0;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #122e8a;
        }
    }
}

.tech-stack-icons {
    padding-bottom: 3rem;
}

.android {
    background-image: url('~@/assets/images/tech/android.png') !important;
    background-color: #cbffa7 !important;
}

.angular {
    background-image: url('~@/assets/images/tech/angular.png') !important;
    background-color: #ffd0ce !important;
}

.aws {
    background-image: url('~@/assets/images/tech/aws.png') !important;
    background-color: #ffd891 !important;
}

.django {
    background-image: url('~@/assets/images/tech/django.png') !important;
    background-size: 100% !important;
}

.javascript {
    background-image: url('~@/assets/images/tech/javascript.png') !important;
    background-color: #f7df1e !important;
}

.mysql {
    background-image: url('~@/assets/images/tech/mysql.png') !important;
    background-color: #e1f6ff !important;
}

.postgres {
    background-image: url('~@/assets/images/tech/postgres.png') !important;
    background-color: #e1f6ff !important;
}

.python {
    background-image: url('~@/assets/images/tech/python.png') !important;
    background-size: 100% !important;
    background-color: #f7df1e !important;
}

.redis {
    background-image: url('~@/assets/images/tech/redis.jpg') !important;
    background-color: #ffd0ce !important;
}

.selenium {
    background-image: url('~@/assets/images/tech/selenium.png') !important;
}

.vuejs {
    background-image: url('~@/assets/images/tech/vuejs.png') !important;
    background-color: rgba(65, 184, 131, .6) !important;
}

.webpack {
    background-image: url('~@/assets/images/tech/webpack.png') !important;
    background-color: #bee9fc !important;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .balloon-slider {
        // width: 100% !important;
        .slider-wrapper {
            width: 620px !important;
        }
    }
}

// hirexp tech stack icons end
// hirexp culture start
.culture-wrap {
    padding: 2rem 0;
    .culture-content-wrap {
        .culture-heading {
            font-size: 42px;
            padding: 1rem 0;
            margin: 0;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #122e8a;
        }
    }
}

@media (max-width: 575.98px) {
    .culture-slider {
        .gallery {
            img {
                height: 40vh;
                width: 100%;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .culture-slider {
        .gallery {
            img {
                height: 65vh;
                width: 100%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .culture-slider {
        .gallery {
            img {
                height: 75vh;
                width: 100%;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .culture-slider {
        .gallery {
            img {
                height: 85vh;
                width: 100%;
            }
        }
    }
}

// hirexp culture end